<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylec.css">
</head>
<body>
    <header>
        <h1>Contact Us</h1>
    </header>

    <main id="row">

        <form id="row1"  method="post">

            <div class="red">
            <input type="first name" placeholder="fname" name="fname" ><br><br>
            <input type="last name" placeholder="lname" name="lname" ><br><br>
            <input type="E-mail" placeholder="email" name="email" ><br><br>
            <input type="Messages" placeholder="text"  name="messages" ><br><br>

            <button type="submit">Send Message</button><br>
        </div>

        <h1><%=text%></h1>
        </form>
    </main>
</body>
</html>