<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleh.css">
</head>

<body>
    <header>
        <main>
            <div class="logo">
                <img src="/images/vivek.png" alt="vivek">
            </div>
            <div>
                <h1>Vivekanand Foundation</h1>
            </div>
        </main>
        <nav>
            <ul>
                <a href="http://localhost:5000/Home">Home</a>
                <a href= "http://localhost:5000/About"> About </a>
                <a href="http://localhost:5000/Contact">Contact</a>
                <a href="http://localhost:5000/Services">Services</a>
            </ul>
            </div>
        </nav>
    </header>


</body>

</html>